<a href="https://colab.research.google.com/github/JonathanCarlos267/Phyton/blob/main/Dia_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dia 3
## Temario
- Listas
- Tuplas
- Sets
- Diccionarios

# Estructura de datos
Las estructuras de datos son formas de organizar informacion para trabajar co ellas de manera eficiente

- Listas -> ordenadas, modificadas, permiten duplicaciones
-Tuplas -> ordenadas, inmutables, permiten duplicadas
- Sets -> no ordenadas, sin duplicaciones
- Diccionarios -> para clave:valor

Nota:

- Pilas (FILO -> First in last out)
- Cola (FOFI -> First in First out)
- Listas enlazadas ( o doblemente enlazadas)

##Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos

In [19]:
lista_de_compras = ["manzanas","pan","huevos","queso","mantequilla","jamon"]
print(lista_de_compras)

['manzanas', 'pan', 'huevos', 'queso', 'mantequilla', 'jamon']

In [4]:
print(lista_de_compras[5])

jamon

In [11]:
#Agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
print(lista_de_compras)

['manzanas', 'papas', 'papas', 'pan', 'papas', 'huevos', 'queso', 'mantequilla', 'jamon', 2, 'sopa', 'sopa']

In [9]:
lista_de_compras.insert(1,"papas")
print(lista_de_compras)

['manzanas', 'papas', 'papas', 'pan', 'papas', 'huevos', 'queso', 'mantequilla', 'jamon', 2, 'sopa']

In [10]:
print(lista_de_compras)

['manzanas', 'papas', 'papas', 'pan', 'papas', 'huevos', 'queso', 'mantequilla', 'jamon', 2, 'sopa']

In [13]:
# Para eliminar un elemento de una lista existe el remove y el pop
lista_de_compras.remove("papas")
print(lista_de_compras)

['manzanas', 'pan', 'papas', 'huevos', 'queso', 'mantequilla', 'jamon', 2, 'sopa', 'sopa']

In [17]:
lista_de_compras.pop() #sin nada dentro del parentesis borrar
lista_de_compras.pop() # o puedes agarrar la posicion que quieras (iniciando desde 0)

'queso'

In [20]:
# Podemos arreglar por medio de un for
for elemento in lista_de_compras:
    print(elemento)

manzanas
pan
huevos
queso
mantequilla
jamon

In [28]:
#len() saca el tamaÃ±o de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i + 1} - {lista_de_compras[i]}")

6
1 - manzanas
2 - pan
3 - huevos
4 - queso
5 - mantequilla
6 - jamon

In [29]:
import random

opciones = ["piedra", "papel", "tijeras"]

while True:
    while True:
        eleccion = input("\nElige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): ").lower()

        if eleccion not in opciones and eleccion != "salir":
            print("OpciÃ³n no vÃ¡lida, intenta de nuevo.")
        else:
            break

    if eleccion == "salir":
        print("Â¡Gracias por jugar!")
        break

    aleatoria = random.choice(opciones)
    print("La computadora eligiÃ³:", aleatoria)

    # Determinamos el ganador
    if eleccion == aleatoria:
        print("Empate ðŸ˜º")
    elif (eleccion == "piedra" and aleatoria == "tijeras") \
        or (eleccion == "papel" and aleatoria == "piedra") \
        or (eleccion == "tijeras" and aleatoria == "papel"):
        print("Â¡Ganaste! ðŸ˜ºðŸ”¥")
    else:
        print("Perdiste ðŸ˜¿")

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): salir
Â¡Gracias por jugar!

In [35]:
promedios = [55.6,97.5,23.6,97.5,72.4,100]
print(promedios)
promedios.sort() # esta funcion ordena en fora ascendente
print(promedios)
#ordenar de manera descendente
promedios.sort(reverse=True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [36]:
#podemos ingresar los ultimos elementos de la lista
print(promedios[-1])

23.6

In [39]:
#Calificaciones mayor y menor
print(max(promedios))
print(min(promedios))

100
23.6

In [42]:
#Declaracion y uso de matrices
calificaciones = [[100,88,93],[99,56,72]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  for cali_j in cali_i:
    print(f"cali {cali_j}: {cali_j}")
  i += 1

Alumno 1
cali 100: 100
cali 88: 88
cali 93: 93

Alumno 2
cali 99: 99
cali 56: 56
cali 72: 72

#Tuplas

In [43]:
#Nacimiento
fechas.appens("10/06/03") # ta mal

NameError: name 'fechas' is not defined

In [47]:
fechas = ('01/01/2000', '10/06/2003')
fecha_lista = list(fechas)
print(fecha_lista)

['01/01/2000', '10/06/2003']

##SETS
Son colecciones sin orden y que no permiten elementos duplicados

In [58]:
names = {"Yoni","Alejandro","sans"}
print(names)
print(type(names))

{'sans', 'Alejandro', 'Yoni'}
<class 'set'>

In [51]:
distintos_datos = {"Angel",1,"Diana","Juan",4.8}
distintos_datos

{1, 4.8, 'Angel', 'Diana', 'Juan'}

In [63]:
names.add("leonardo")
names

{'Alejandro', 'Yoni', 'leonardo', 'sans'}

In [64]:
#union
matutino = {20322,22183,123123,53234}
vespertino = {20322,22183,22222,11111}
total_matriculados = matutino.union(vespertino)
print(total_matriculados)
#union
total_matriculados = matutino | vespertino
print(total_matriculados)
#

{20322, 22183, 11111, 22222, 53234, 123123}
{20322, 22183, 11111, 22222, 53234, 123123}

In [65]:
#interseccion
ca = {1234,121,666,12345}
al = {1234,111,112,444}
#con interseccion
ca_al = ca.intersection(al)
print(ca_al)
#con &
ca_al = ca & al
# interseccion usando &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [67]:
# Diferencia
solo_calculo = ca.difference(al)
print(solo_calculo)
#usando -
solo_calculo = ca - al
print(solo_calculo)

{12345, 666, 121}
{12345, 666, 121}

In [85]:
nombre = {"Angel","Eliud","Chara","Goku"}
print(nombre)
nombre.pop()
print(nombre)
#

{'Eliud', 'Angel', 'Chara', 'Goku'}
{'Angel', 'Chara', 'Goku'}

In [86]:
#Eliminar el set
nombre.clear()
nombre

set()

#Diccionarios
Colecciones

In [87]:
alumno = {
    "nombre": "Pana Miguel",
    "edad": 18,
    "Carrera": "IASI",
    "semestre": 7,
    "promedio": 84.55,
    "calificaiones": [100,94,94,97,100]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Pana Miguel',
 'edad': 18,
 'Carrera': 'IASI',
 'semestre': 7,
 'promedio': 84.55,
 'calificaiones': [100, 94, 94, 97, 100]}

In [89]:
#---------------------------
print("El alumno", alumno["nombre"], "esta estudiando", alumno["Carrera"])

El alumno Pana Miguel esta estudiando IASI

In [92]:
#Agregar al diccionario
alumno["Area preferida"] = "Quimica"
alumno

{'nombre': 'Pana Miguel',
 'edad': 18,
 'Carrera': 'IASI',
 'semestre': 7,
 'promedio': 84.55,
 'calificaiones': [100, 94, 94, 97, 100],
 'Area preferida': 'Quimica'}

In [93]:
for valor in alumno:
  print(alumno[valor])

Pana Miguel
18
IASI
7
84.55
[100, 94, 94, 97, 100]
Quimica

In [94]:
for clave, valor in alumno.items():
  print(clave, valor)

nombre Pana Miguel
edad 18
Carrera IASI
semestre 7
promedio 84.55
calificaiones [100, 94, 94, 97, 100]
Area preferida Quimica